{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/responsive.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>

    <script src="{% static 'blog/js/pixi.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>

    <script>
        document.documentElement.className = "js";
        var supportsCssVars = function() {
            var e, t = document.createElement("style");
            return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e
        };
        supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");
    </script>

    {% if title %}
    <title>SPACE - {{ title }}</title>
    {% else %}
    <title>SPACE</title>
    {% endif %}
</head>
<!-- Libraries -->


<body class="step">

    <label class=" label main-nav-open nav-toggle" for="main-nav-toggle" tabindex="0" aria-label="Menu">
						<svg aria-hidden="true" width="28px" height="23px" viewBox="0 0 28 20">
							<rect x="0" y="2" width="28" height="3"  style="fill: rgb(113, 169, 238);"></rect>
							<rect x="0" y="10" width="24" height="3" style="fill: #458ADC"></rect>
							<rect x="0" y="18" width="28" height="3" style="fill: #9D30F6"></rect>
						</svg>
					</label>
    <input type="checkbox" id="main-nav-toggle" />
    <nav class="main-nav">
        <ul class="main-nav__fallback">
            <li>
                <a href="{% url 'blog-index' %}">Головна</a>
            </li>
            <li>
                <a href="{% url 'blog-sollarSystem' %}">Сонячна система</a>
            </li>
            <li>
                <a href="{% url 'blog-home' %}">Блог</a>
            </li>
            <li>
                <a href="{% url 'blog-history' %}">Дослідження космосу</a>
            </li>
            {% if user.is_authenticated %}
            <li>

                <a href="{% url 'post-create' %}">Створити допис</a>
            </li>
            <li>

                <a href="{% url 'profile' %}">Профіль</a>
            </li>
            <li>

                <a href="{% url 'logout' %}">Вийти</a>
            </li>
            {% else %}
            <li>

                <a href="{% url 'login' %}">Увійти</a>
            </li>
            <li>

                <a href="{% url 'register' %}">Зареєструватись</a>
            </li>
            {% endif %}
            <label class="label main-nav__close nav-toggle" for="main-nav-toggle" tabindex="0" />
    </nav>
    <main>


        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %} {% endif %} {% block content %}{% endblock %}


    </main>
    <script src="{% static 'blog/js/main.js' %}"></script>
    <script src="{% static 'blog/js/nav.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

</body>

</html>