{% extends "blog/base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="cent" style=" height: 100vh ; display: flex; flex-direction: column; justify-content: center;">
    <div class="content-section" style=" width:340px; margin: 0px auto; padding: 20px; border: 1px solid #9D30F6;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="legend">Створити допис</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Підтвердити</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}